@model Results

<div class="card" style="width: 18rem;">
    <div class="card-body" style="height: 600px; overflow: hidden;">
        <img class="card-img" src="https://image.tmdb.org/t/p/w500/@Model.PosterPath" alt="poster"/>
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Overview</p>
    </div>
</div>
