@{
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

<div>
    <h1>
        @Localizer["user"]
    </h1>
</div>