<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/wwwroot/css/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Admin Area</a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/About">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Contact">Contact</a>
            </li>
        </ul>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>
</html>
