html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.search-form {
  width: 100%;
}
.form-group {
  display: flex;
  width: 100%;
}

.form-group input {
  flex: 1;
}

.form-group button {
  flex: 0 0 auto;
}