$color_3: white;
$color_2: red;
$color_1: white;
$font-family_1: sans-serif;
$background-color_1: black;
$background-color_2: red;

@font-face {
	font-family: "JhengHei Regular";
	src: url(/Lesson4/assets/MicrosoftJhengHeiRegular.ttf);
}
@font-face {
	font-family: "Tech Mono";
	src: url(/Lesson4/assets/ShareTechMono-Regular.ttf);
}