@import 'addons';

.carousel {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.carousel-left {
	position: absolute;
	left: 10px;
}
.carousel-right {
	position: absolute;
	right: 10px;
}
.carousel-nav-btn {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	i {
		font-size: 25px;
		color: $color_1;
	}
}
.carousel-items {
	background-color: $background-color_1;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}
.carousel-item {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
