@import 'addons';

body {
	margin: 0;
	padding: 0;
	font-family: $font-family_1;
	background-color: $background-color_1;
}

.promo {
	background-color: $background-color_2;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5vh;
	p {
		color: $color_1;
	}
}

