@page

<h3 class="display-3 mt-2">
    About this sample
</h3>

<div class="mx-5 list-group mt-4">
    <div class="list-group-item d-flex w-100 justify-content-between">
        <h5 class="mb-1">
            Explore the source code on GitHub
        </h5>
        <small>
            <a href="https://github.com/azure-samples/cosmos-db-nosql-dotnet-sample-web">
                <i class="bi bi-github"></i>
                azure-samples/cosmos-db-nosql-dotnet-sample-web
            </a>
        </small>
    </div>
    <div class="list-group-item d-flex w-100 justify-content-between">
        <h5 class="mb-1">
            Check out the tutorial
        </h5>
        <small>
            <a href="https://learn.microsoft.com/azure/cosmos-db/nosql/tutorial-dotnet-web-app">
                learn.microsoft.com/azure/cosmos-db/nosql/tutorial-dotnet-web-app
            </a>
        </small>
    </div>
    <div class="list-group-item d-flex w-100 justify-content-between">
        <h5 class="mb-1">
            Learn more about Azure Cosmos DB for NoSQL
        </h5>
        <small>
            <a href="https://learn.microsoft.com/azure/cosmos-db/nosql/">
                learn.microsoft.com/azure/cosmos-db/nosql
            </a>
        </small>
    </div>
    <div class="list-group-item d-flex w-100 justify-content-between">
        <h5 class="mb-1">
            Learn more about Azure Cosmos DB
        </h5>
        <small>
            <a href="https://learn.microsoft.com/azure/cosmos-db/">
                learn.microsoft.com/azure/cosmos-db
            </a>
        </small>
    </div>
</div>